#hello
  .el-menu-wrapper
    // background-color: #B3C0D1;
    .el-header
      // background-color: #B3C0D1;
      color: #fff;
      line-height: 60px;
      .el-dropdown
        .heart-class
          display: inline-block
          width: 20px;
          height: 20px;
          border-radius: 50%;
          box-shadow: 2px 2px 0 0 white;
          margin-right: 20px
          cursor:pointer
      .nick-class
        font-size: 20px