#home-wrapper
  .el-table
    .warning-row
      background: #ffba54;
    .serious-row 
      background: #f56c6c;
  .block
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: rgba(0,0,0, .6)
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  .cell-special
    font-size: 20px  